body {
    padding: 0px;
    margin: 0px;
    background-color: #202124;
}

#lupa {
    color: #9aa0a6;
}


.icono {
    width: 30px;
    height: 30px;
}

header ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul li {
    margin: 10px;
}


main {
    height: 74vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#caja-buscador {
    display: flex;
    justify-content: center;
    border: 1px solid #5f6368;
    min-height: 44px;
    max-width: 584px;
    width: 638px;
    border-radius: 24px;
}

#caja-buscador input {
    background-color: transparent;
    width: 400px;
    outline: none;
    border: none;
}

#caja-buscador .icono {
    margin: 5px;
}

button {
    background-color: #303134;
    border: 1px solid #303134;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    margin: 11px 4px;
    padding: 0 16px;
    border-radius: 4px;
}

footer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

footer ul li {
    margin: 10px;
}

#opciones {
    display: flex;
}
